.signInButton {
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;

  &:hover {
    background-color: #005fa3;
  }
}

.featuresButton {
  background-color: #cc0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
  vertical-align: top;
  &:hover {
    background-color: #850101;
  }
}

.featuresImage {
  margin-top: 50px;
  width: 500px;
}

.profile {
  margin-top: 50px;
}
