.signInButton {
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;

  &:hover {
    background-color: #005fa3;
  }
}

.featuresButton {
  background-color: #cc0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
  margin-right: 50px;
  vertical-align: top;
  &:hover {
    background-color: #850101;
  }
}

.featuresImage {
  width: 500px;
}

.profile {
  margin-top: 50px;
  margin-right: 50px;
}

.header {
  color: #0077cc;
}

.header-green {
  color: #00993b;
}

.header-red {
  color: #850101;
}

.li-blue {
  color: #0077cc;
  font-size: 30px;
}
.li-green {
  color: #00993b;
  font-size: 30px;
}

.li-red {
  color: #850101;
  font-size: 30px;
}

.profile-check {
  background-color: #ff00ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
  vertical-align: top;
  &:hover {
    background-color: #5f005a;
  }
}

.profile-1 {
  background-color: #3bff65;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
  margin-right: 50px;
  vertical-align: top;
  &:hover {
    background-color: #00c742;
  }
}
